.animated-element {
  margin-top: 5%;
  /* Reducir el margen superior */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: aliceblue;

}

.texto-alineado {
  display: flex;

  flex-direction: row;
  color: #ffffff;
}

.img-animacion {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;

}